body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

a, button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
  text-decoration: none;
  color: black;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}